{% extends "base.html" %}

{% block content %}

    <h1> <center> New Post! </center> </h1>

    <form method="post">

        <label> Subject: </label> <br>
        <input type="text" value="{{title}}" name="title" />
        <p class="error">{{err_title}}</p>

        <br> <br>

        <label> Blog: </label> <br>
        <textarea name="blog">{{blog}}</textarea>
        <p class="error">{{err_blog}}</p>

        <br> <br>

        <input type="submit" value="Submit" />
    </form>

{% endblock %}
